.content#content {
    

}
table {
    width: 80%;
    border-collapse: collapse;
    text-align: center;
    border-radius: 10%;
    
}

table td, table th{
    padding: 4px;
    background-color: whitesmoke;
    /* border:  2px solid blue; */
}

table tr:nth-child(e){
    background-color: cadetblue;
}

table th {
    background-color: gray;
    color: #000;
}

form#add-form {
    margin-bottom: 20px;
    

}

form#update-form {
    margin-bottom: 20px;
}

form#table-item {
    background-color: blueviolet;
}